<div id="<%= dom_id chat_cliente %>">
  <p>
    <strong>Nm cliente:</strong>
    <%= chat_cliente.nm_cliente %>
  </p>

  <p>
    <strong>Nr cliente:</strong>
    <%= chat_cliente.nr_cliente %>
  </p>

  <p>
    <strong>Mensagem:</strong>
    <%= chat_cliente.mensagem %>
  </p>

  <p>
    <strong>Status chat:</strong>
    <%= chat_cliente.status_chat %>
  </p>

  <p>
    <strong>Resposta ia:</strong>
    <%= chat_cliente.resposta_ia %>
  </p>

</div>
