<p style="color: green"><%= notice %></p>

<%= render @chat_cliente %>

<div>
  <%= link_to "Edit this chat cliente", edit_chat_cliente_path(@chat_cliente) %> |
  <%= link_to "Back to chat clientes", chat_clientes_path %>

  <%= button_to "Destroy this chat cliente", @chat_cliente, method: :delete %>
</div>
